name: Actionlint

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  actionlint:
    uses: AutomationDojo/reusable-cicd/.github/workflows/actionlint.yml@main