name: Build and Test on PR
on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: read

jobs:
  build-and-test:
    uses: user-cube/reusable-cicd/.github/workflows/golang-cli-apps_build-and-test-pr.yml@main
    with:
      go-version-file: go.mod
      go-sum-file: go.sum