# .github/workflows/release.yml
name: Release Kontext

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release:
    uses: user-cube/reusable-cicd/.github/workflows/golang-cli-apps_release.yml@main
    secrets:
      DEVOPS_BUDDY_APP_ID: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
      DEVOPS_BUDDY_PRIVATE_KEY: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}
    with:
      homebrew-tap-repo: "homebrew-tap"
      go-version-file: go.mod
      go-sum-file: go.sum