# .github/workflows/release.yml
name: goreleaser

on:
  push:
    # run only against semver tags
    tags:
      - "v*.*.*"

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate app token
        uses: actions/create-github-app-token@v2
        id: app
        with:
          app-id: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
          private-key: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}

      - name: Setup Git
        run: |
          git config --global user.name "${{ steps.app.outputs.app-slug }}[bot]"
          git config --global user.email "${{ steps.app.outputs.app-slug }}[bot]@users.noreply.github.com"

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version:  "~> v2.14.0-nightly" # TODO: Remove nightly once v2.14.0 is released
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_TOKEN: ${{ steps.app.outputs.token }}
